@using WebUI.Models
@using WebUI.HtmlHelpers
@model ProductsListViewModel




@{
    ViewBag.Title = "Товары";
}

<h2>Список</h2>

@foreach (var p in @Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        <p>@p.Description</p>
        <p>@p.Category</p>
        <h4>@p.Price.ToString("# $")</h4>
    </div>
    <hr />
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

