@model Domain.Entities.Product

<div class="col-md-3" style="height:400px">
    @*<div class="thumbnail" style="height:350px">*@
    <div class="table-responsive">
        <table class="table" style="height:100%">
            <tr style="height:40%">
                <td>
                    @if (Model.ImageData != null)
                    {

                        <img class="img-responsive" style="max-height:100px"
                             src="@Url.Action("GetImage", "Products",
                new { Model.ProductId })" />

                    }
               </td>
            </tr>
            <tr style="height:30%">
                <td>
                    @*<div class="caption">*@
                    <h4><strong>@Model.Name</strong></h4>
                </td>
            </tr>
            <tr style="height:10%">
                <td><h4>@Model.Price.ToString("# $")</h4></td>
            </tr>
            <tr style="height:10%">
                <td><p>@Model.Category</p></td>
            </tr>
            <tr style="height:10%;">
                <td>
                    <p>
                    
                            <a href="#" class="btn btn-primary" role="button" style="vertical-align:bottom">Details</a>
                
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                         
                                @Html.HiddenFor(x => x.ProductId)
                                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                <input type="submit" class="btn btn-default" value="Add to cart" />
                          
                        }
                    </p>

                </td>
            </tr>
        </table>

    </div>


    <p>@*@p.Description*@</p>


    @*</div>*@
</div>




@*</div>*@
